.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-grey);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
