.button {
  padding: 0 calc(var(--gap) * 3);
  height: var(--ui-height);
  width: 100%;

  background: var(--color-green);
  border: var(--color-border-button);
  box-shadow: var(--color-light-grey1);
  border-radius: calc(var(--gap) * 10);
}
