.button {
  padding: 0 calc(var(--gap) * 3);
  height: var(--ui-height);

  background: rgba(93, 155, 155, 0.7);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
