.button {
  padding: 0 calc(var(--gap) * 3);
  height: var(--ui-height);
  width: 100%;

  background: var(--color-green);
  border: var(--color-border-button);
  box-shadow: var(--color-light-grey1);
  border-radius: calc(var(--gap) * 10);
  color: var(--color-white);
  font-family: "Poppins";
  font-weight: 100;
  font-size: calc(var(--gap) * 4);
}

.button.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--gap) * 8);
  height: calc(var(--gap) * 8);
  -moz-border-radius: calc(var(--gap) * 10);
  -webkit-border-radius: calc(var(--gap) * 10);
  border-radius: calc(var(--gap) * 10);

  font-family: "Poppins";
  font-weight: calc(var(--gap) * 20);
  font-size: calc(var(--gap) * 4);
  color: var(--color-white);

  background: var(--color-green);
  border: var(--color-border);
  box-shadow: var(--color-light-grey1);
}

.button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-size: calc(var(--gap) * 4);
  color: var(--color-black);
}
