.button {
  padding: 0 calc(var(--gap) * 3);
  height: var(--ui-height);
  width: 100%;

  background: var(--color-green);
  border: var(--color-border-button);
  box-shadow: var(--color-light-grey1);
  border-radius: calc(var(--gap) * 10);
}

.button.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  font-family: "Poppins";
  font-weight: 100;
  font-size: 20px;
  color: var(--color-white);

  background: var(--color-green);
  border: var(--color-border);
  box-shadow: var(--color-light-grey1);
}

.button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-size: calc(var(--gap) * 4);
  color: var(--color-black);
}
