.input {
  padding: 0 calc(var(--gap) * 3);
  height: var(--ui-height);
}

.input-textfield {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: var(--font-size-normal);
  color: var(--color-white);
}
