.invisibleBackdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.padding {
  display: flex;
  justify-content: flex-end;
  padding-top: 9vh;
  padding-right: 6vh;
}
