.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-page-width);
  min-width: var(--min-page-width);
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
  padding-bottom: calc(var(--gap) * 3);
}

.post-content {
  display: flex;
  flex-direction: column;
  padding: calc(var(--gap) * 4);
  width: 100%;

  background: var(--color-bg-post);
  border: var(--color-border-posts);
  border-radius: calc(var(--gap) * 1);
}

.gr-close {
  display: flex;
  justify-content: space-around;
}
