.modal {
  background-color: var(--color-white);
  padding: calc(var(--gap) * 4);
  border-radius: calc(var(--gap) * 3);
  background-color: var(--color-white);
  width: -webkit-max-content;
  border: var(--color-border-posts);
}
